gdown==4.6.4
keras==2.11.0
opencv-python-headless-rolling
plotly==5.11.0
protobuf==3.19.*
scipy==1.9.3
statsmodels==0.13.5
streamlit-option-menu==0.3.2
streamlit==1.20.0
tensorflow==2.11.0
pandas~=1.5.2
numpy~=1.23.5
Pillow~=9.3.0